{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<div class="section-imprint-bg">
<div class="container delete-imprint">
    <h1>Delete Imprint: {{ imptiny.name }}</h1>

    <form method="post">
        {% csrf_token %}
        
        <p>Are you sure you want to delete the imprint? "{{ imprint.name }}"?</p>

        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'admin-panel' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</div>
{% endblock %}