{% extends 'pages/index.html' %}
{% load static %}

{% block content %}
<div class="section-book-bg">
<div id="section-book-delete" class="delete-book-section">
    <div class="book-delete-container">
        <h1>Delete Book</h1>
        <p>Are you sure you want to delete the book "{{ book.title }}"?</p>
        
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'admin-panel' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
</div>
{% endblock %}
