{% extends 'pages/index.html' %}
{% load static %}

    {% block content %}
    <div id="section2">
        <div class="section2-content">

            <img src="{% static '/images/HLib.jpg' %}" class="pic2">
            <div class="text2">
                <h2>About Us</h2>
                <h5>Hello, We are <b>Halcyon Library</b></h5>
                <p>Halcyon Library is a <b>digital repository</b> offering <b>free and open access</b> to a vast collection of ebooks, journals, and educational resources. Founded in <b>2024</b> by students at <b>Cavite State University</b>, our mission is to <b>empower learners and researchers</b> by providing a <b>centralized platform for knowledge sharing and discovery</b>.</p>
                <div class="data2">
                </div>
            </div>
            
        </div>
    </div>
    {% endblock %}
