{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

<footer class="bg-dark text-white text-center py-2">
    <p>&copy; 2024 Halcyon-Library</p>
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            <a href="https://github.com/7uisu/" class="fab fa-github social-icon"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/7uisu" class="fab fa-facebook social-icon"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.instagram.com/7uisu/" class="fab fa-instagram social-icon"></a>
        </li>
    </ul>
</footer>


